<h1>Login to your account</h1>



<%= form_for :user, url: login_users_path do |f| %>

  Email: <%= f.text_field :email, class: "form-group" %><br>
  Password: <%= f.password_field :password, class: "form-group" %><br>
  <%= f.submit "Continue", class: "btn btn-primary" %>

<% end %>