<h1>Login to your account</h1>

<%= form_for :user, url: login_users_path do |f| %>

  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Continue" %>

<% end %>