<tr>
  <td colspan="2">
    <%= item.product.name %>
  </td>
  <td>
    <%= humanized_money_with_symbol item.product.price_cents / 100 %>
  </td>
  <td>
    <%= item.quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol item.quantity * item.product.price_cents / 100 %>
  </td>
<tr>
