<h1>ABOUT</h1>

<h3>Jungle Facts (Source - Soft Schools: https://www.softschools.com/facts/earth_systems/jungle_facts/3854/)</h3>

<p>Jungles are areas of land covered with dense trees and vegetation. The origin of the term jungle is from the word Jangla which means dry ground - desert. It was interpreted to mean 'tangled thicket' and has often been used to refer to rainforests. Jungles or rainforests can be found on all inhabited land but may include various vegetation types in various climate zones. It is not possible to have a specific definition because of the variation in these factors. Most people think of the tropics when they think of the jungle. Jungles can be threatened by global warming, agriculture, urban spread, and deforestation.</p>

Interesting Jungle Facts:
<ul>
  <li>
    It is estimated that 6% of the land on earth is covered in rainforest. Half of the plant and animal species in the world live there.
  </li>
  <li>
    The rainforest canopy can be so tickly grown that a raindrop can take 10 minutes to travel to the floor.
  </li>
  <li>
    The Amazon rainforest is so large that it would be the 9th largest country in the world if it were classified as a country. It is located in South America.
  </li>
  <li>
    In New Guinea's jungles the Korowai people live in tree houses 45m high off the ground.
  </li>
  <li>
    Australia's jungles have flowers not found anywhere else in the world - in fact 80% can't be found elsewhere.
  </li>
  <li>
    In the Tasmanian jungles there are pine trees as old as two thousand years.
  </li>
  <li>
    On the island Dominica in the Caribbean there is a rainforest lake that is 88 degrees Celsius.
  </li>
</ul>